body
{
	background-image: url("../images/index/01.jpg");
	background-image-width: 100%;
	background-image-height:100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#text1
{
	color:white;
	margin-top: 5%;
	font-size: 5em;
}
#img2
{
	width: 100%;
}

ul{
	margin:0;
	padding:0;
}

li{
	width:100px;
	height:50px;
	float:left;
	color:#191919;
	text-align:center;
	overflow:hidden;
}

a{
	color:#FFF;
	text-decoration:none;
}

p{
	padding:0px 5px;
}

	.subtext{
		padding-top:15px;
	}

/*Menu Color Classes*/
.green{background:#6AA63B ;}
.yellow{background:#FBC700 ;}
.red{background:#D52100 ;}
.purple{background:#5122B4 ;}
.blue{background:#0292C0 ;}


#friends_submenu
{
	width: 100%;
	height: 100%;
	margin-top: 10%;
	display: none;


}
#friends_submenu img
{
	width: 40%;
	height: 60%;
	
}
#heading1
{
	display: none;
	margin-top: 30%;
	height: 50%;
	border-style: solid;

}
#my_name
{

	height: 300px;
	width: 50px;
	float: left;
}

#twitter,#linkedin
{
	width: 50px;
	height: 50px;
	margin-top: 90%;
	border-radius: 50%;
}
#facebook
{
	width: 50px;
	height: 50px;
	margin-top: 90%;
	border-radius: 100%;
}
#div1
{
	height: 30%;

}
#inner
{
	margin-left: 300px;
	margin-right: 300px;
}



